---

- name: Install System Packages
  apt: name={{ item }} state=present update_cache=yes cache_valid_time=3600
  sudo: yes
  with_items:
    - build-essential
    - python-dev
    - postgresql-client
    - libpq-dev
    - python-pip
    - python-psycopg2
    - git
    - libjpeg-dev
    - libtiff5-dev
    - libjpeg8-dev
    - zlib1g-dev
    - libfreetype6-dev
    - liblcms2-dev
    - libwebp-dev
    - tcl8.6-dev
    - tk8.6-dev

- name: Clone Django Repository
  sudo: yes
  git: repo={{ remote_repo }} dest={{ django_home }} force=yes

- name: Install Python Dependencies
  sudo: yes
  pip:
    state: present
    requirements: "{{ django_home }}/requirements.txt"

- name: Change Media Ownership
  sudo: yes
  file: path={{ media_path }} owner={{ app_user }} recurse=yes state=directory

# - name: Make Migrations
#   django_manage:
#     app_path: "{{ django_home }}"
#     settings: "{{ settings_file }}"
#     command: makemigrations

# - name: Migrate
#   django_manage:
#     app_path: "{{ django_home }}"
#     settings: "{{ settings_file }}"
#     command: migrate

- name: Make App Migrations
  django_manage:
    app_path: "{{ django_home }}"
    settings: "{{ settings_file }}"
    command: makemigrations subscribers
  # environment:
  #     DATABASE_URL: "{{ db_url }}"

- name: Migrate
  django_manage:
    app_path: "{{ django_home }}"
    settings: "{{ settings_file }}"
    command: migrate
  # environment:
  #     DATABASE_URL: "{{ db_url }}"

- name: Collect Static Files
  django_manage:
    app_path: "{{ django_home }}"
    settings: "{{ settings_file }}"
    command: collectstatic
