---

- name: Get Secret Variables
  include_vars: secrets.yml

- name: Install System Packages
  apt: name={{ item }} state=present update_cache=yes cache_valid_time=3600
  sudo: yes
  with_items:
    - build-essential
    - python-dev
    - postgresql-client
    - libpq-dev
    - python-pip
    - python-psycopg2
    - git
    - libjpeg-dev
    - libtiff5-dev
    - libjpeg8-dev
    - zlib1g-dev
    - libfreetype6-dev
    - liblcms2-dev
    - libwebp-dev
    - tcl8.6-dev
    - tk8.6-dev
    - python-tk

- name: Clone Django Repository
  git: repo={{ remote_repo }} dest={{ django_home }} force=yes

- name: Install Python Dependencies
  sudo: yes
  pip:
    state: present
    requirements: "{{ django_home }}/requirements.txt"

#- name: Change Media Ownership
#  sudo: yes
#  file: path={{ media_path }} owner=www-data recurse=yes state=directory

- name: Get DB Hostvars
  set_fact:
    db_host: "{{ hostvars[groups[rds_db_name][0]] }}"

- name: Set DB URL
  set_fact:
    db_url: "{{ db_host.ec2_engine }}://{{ db_host.ec2_master_username }}:{{ db_password }}@{{ db_host.ec2__address }}:{{ db_host.ec2__port }}/{{ db_host.ec2_DBName }}"

- name: Make Migrations
  environment:
    SECRET_KEY: "{{ secret_key }}"
    DATABASE_URL: "{{ db_url }}"
  django_manage:
    app_path: "{{ django_home }}"
    settings: "{{ settings_file }}"
    command: makemigrations

- name: Migrate
  environment:
    SECRET_KEY: "{{ secret_key }}"
    DATABASE_URL: "{{ db_url }}"
  django_manage:
    app_path: "{{ django_home }}"
    settings: "{{ settings_file }}"
    command: migrate

- name: Make App Migrations
  environment:
    SECRET_KEY: "{{ secret_key }}"
    DATABASE_URL: "{{ db_url }}"
  django_manage:
    app_path: "{{ django_home }}"
    settings: "{{ settings_file }}"
    command: makemigrations subscribers

- name: Migrate App
  environment:
    SECRET_KEY: "{{ secret_key }}"
    DATABASE_URL: "{{ db_url }}"
  django_manage:
    app_path: "{{ django_home }}"
    settings: "{{ settings_file }}"
    command: migrate subscribers

- name: Collect Static Files
  environment:
    SECRET_KEY: "{{ secret_key }}"
    DATABASE_URL: "{{ db_url }}"
  django_manage:
    app_path: "{{ django_home }}"
    settings: "{{ settings_file }}"
    command: collectstatic

- name: Execute On-Deploy Script
  sudo: yes
  environment:
    SECRET_KEY: "{{ secret_key }}"
    DELIVERCUTE_EMAIL: "{{project_email}}"
    DELIVERCUTE_PASSWORD_BASIC: "{{ project_password }}"
  command: "python {{ django_home }}/on_deploy.py"
